{% extends "cardKeeper/base.html" %}
{% block content %}
<ul>
{% if not project.card_set %}
    <li>Cards Submitted</li>
{% else %}
    {% with project.card_set.all as cards %}
    {% for card in cards|reverse %}
        <li class=" {% if not card.wrangled %}unsaved{% endif %} {% if card.wrangled %}wrangled{% endif %} {% if card.assembled %}assembled{% endif %}"><a href="{% url 'cardKeeper:card_wrangle' project.id card.id %}">{{ card }} - {{ card.group }} - {{ card.description|truncatechars:60 }}</a></li>
    {% endwith %}
    {% endfor %}
{% endif %}
</ul>

<style>
.wrangled{
    background-color: yellow;
}
.assembled{
    background-color: light-green;
}
.unsaved{
    background-color: red;
}
</style>

{% endblock %}
